*{                                  /* Gobal */
    text-align: left;
    background-color:
}

h1 {
    text-align: center;
    font-size: 72pt;
    color:blue;
}
h2 {
    text-align: center;
    font-size: 36px;
    color:rgb(196, 32, 174);
}
h3 {
    text-align: center;
    font-size: 200%;
    color:chartreuse;
}

p.sectone{
    border-style: solid;
    border-width: 2px;
}

p.secttwo{
    border-style: dotted;
    border-width: 4px;
}

p.sectthree{
    border-style: dotted;
    border-width: 8px;
}

p.sectfour{
    border-style: solid;
    border-width: 8px;
}
p.sectfive{
    border-style: double;
    border-width: 2px;
}

p.sectseven{
    border-style: double;
    border-width: 2px;
}

.makeMeRed {
        color:red;
}

.font1{
    font-family: 'Courier new', Courier, monospace;
}

.font2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadow{
    background-color: #cccccc;
    color:#ffffff;
    text-shadow: 2px 2px 7px #111111;
}

.img {    
    Width : 50%;
}

.img{                    /* object square and its properties */
    width: 300px;
    height: 300px;
    animation-name: spinning;             /* calls button below and runs over 8 seconds  */
    animation-duration: 5s;
    transition: width 1s, height 1s, transform 1s;
}

.img:hover{                          /* when pointer goes over square it does following */
    width: 300px;       
    height: 300px;
    transform: rotate(360deg);   
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
}

ul {
    border: 1px solid black;
} 

ol {
    border: 1px solid black;
}

.flip-container {
    background: transparent;
    display: inline-block;
}

.flip-this {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

.flip-container:hover .flip-this {
    transition: 0.9s;
    transform: rotateY(360deg);
  }

  #introduction {
    margin: 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    align-content: stretch;
  }